{% extends 'base/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-success text-white">
                    <h3 class="text-center">Инструкции отправлены</h3>
                </div>
                <div class="card-body text-center">
                    <p>Если учетная запись с указанным email существует, на него была отправлена инструкция по восстановлению пароля.</p>
                    <p>Проверьте свой почтовый ящик и следуйте инструкциям в письме.</p>
                    <a href="{% url 'home' %}" class="btn btn-primary mt-3">Вернуться на главную</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}