{% extends 'base/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-success text-white">
                    <h3 class="text-center">Пароль успешно изменен</h3>
                </div>
                <div class="card-body text-center">
                    <p>Ваш пароль был успешно изменен.</p>
                    <p>Теперь вы можете войти в систему с новым паролем.</p>
                    <a href="{% url 'user_login' %}" class="btn btn-primary mt-3">Войти</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}